<div class="container-fluid">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem"></app-block-header>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <app-loader [isLoading]="loader"></app-loader>
        <div class="header d-flex justify-content-between align-items-center pb-0">
          <h2>All Stock Transfers</h2>
        </div>

        <div class="body table-responsive">
          <mat-form-field class="col-lg-12" appearance="outline">
            <mat-label>Select Type</mat-label>
            <select matNativeControl>
              <option value="1">Request</option>
              <option value="0">Transfer</option>
            </select>
          </mat-form-field>

          <mat-form-field class="col-lg-12" appearance="outline">
            <mat-label>Search Stock Transfers</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input #searchInput (keyup)="applyFilter($event.target.value)" matInput placeholder="Type keyword here" />
          </mat-form-field>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 col-lg-12">
            <!-- Select Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>Select Product</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox [checked]="element.enablewarehouse" (change)="addProduct(element.id)"> </mat-checkbox>
                <!--  [(ngModel)]="product.productAdded"-->
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Order Invoice Number</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Item Code Column -->
            <ng-container matColumnDef="itemcode">
              <th mat-header-cell *matHeaderCellDef>Item Code</th>
              <td mat-cell *matCellDef="let element">{{ element.itemcode }}</td>
            </ng-container>

            <!--Warehouse Column-->
            <ng-container matColumnDef="warehouse">
              <th mat-header-cell *matHeaderCellDef>Warehouse</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="fill">
                  <mat-label>Select Warehouse</mat-label>
                  <select
                    matNativeControl
                    [disabled]="element.enablewarehouse"
                    (change)="changeProduct($event.target.value, element.id)"
                  >
                    <option value=""></option>
                    <option *ngFor="let x of element.storeproduct" [value]="element.storeproduct.indexOf(x)">
                      {{ x.warehouse.name }}
                    </option>
                  </select>
                </mat-form-field>
              </td>
            </ng-container>

            <!--Quantity-->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width">
                  <mat-label *ngIf="!element.showvalidation">Enter Quantity</mat-label>
                  <input
                    type="number"
                    matInput
                    placeholder=""
                    [disabled]="element.enablequantity"
                    [(ngModel)]="element.enteredQuantity"
                    (change)="changeQuantity(element.id)"
                  />
                  <mat-label class="validation" *ngIf="element.showvalidation">plese Enter valid Quantity</mat-label>
                </mat-form-field>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <!--<div *ngIf="!purchaseOrders.length" class="header d-flex justify-content-between align-items-center pb-0">
            <h2>Purchase order found for this option</h2>
          </div>-->
          <mat-paginator
            [length]="stockTransfers.length"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15, 20, stockTransfers.length]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
