<div class="container-fluid">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem"></app-block-header>
</div>

<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <app-loader [isLoading]="loader"></app-loader>

      <div class="header d-flex justify-content-between align-items-center pb-0">
        <h2>All Products</h2>
      </div>

      <div class="body table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-sm"
        >
          <thead>
            <tr>
              <th>
                Select
              </th>
              <!--<th>
                No.
              </th>-->
              <th>
                Item Code
              </th>
              <th>
                Name
              </th>
              <th>
                Type
              </th>
              <th>
                Warehouse
              </th>
              <th>
                Quantity
              </th>
              <th>
                Destination
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td>
                <input
                  class="checkboxalign"
                  type="checkbox"
                  (change)="addProduct(products.indexOf(product))"
                  [(ngModel)]="product.productAdded"
                />
              </td>
              <!--<td>
                {{ i }}
              </td>-->
              <td>
                {{ product.itemcode }}
              </td>
              <td>
                {{ product.name }}
              </td>
              <td>
                <select [disabled]="product.enableproduct">
                  <option value="0">Transfer</option>
                  <option value="1">
                    Request
                  </option>
                </select>
              </td>
              <td>
                <select
                  (change)="changeProduct($event.target.value, products.indexOf(product))"
                  [disabled]="product.enableproduct"
                >
                  <option value="Select Warehouse">Select Warehouse</option>
                  <option *ngFor="let i of product.storeproduct" value="{{ product.storeproduct.indexOf(i) }}">
                    {{ i?.warehouse?.name }}
                  </option>
                </select>
              </td>
              <td>
                <select (change)="changeQuantity($event.target.value)" [disabled]="product.enablequantity">
                  <option value="Select Quantity">Select Quantity</option>
                  <option *ngFor="let i of product.storeproduct[product.selectedIndex].numbers" value="i">
                    {{ i }}
                  </option>
                </select>
              </td>
              <td>
                //show me destination warehousenames
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--<div class="row card">
  Select Product
  <select class="form-control col-1" name="productid" [(ngModel)]="productid">
    <option *ngFor="let product of products" value="{{product.pkproductid}}">{{product.productname}}</option>
  </select>
  <span class="col-2">Select Quantity</span>
  <select class="form-control col-1" name="productid" [(ngModel)]="productid">
    <option *ngFor="let product of products" value="{{product.pkproductid}}">{{product.productname}}</option>
  </select>
  <span class="col-1">Type</span>
  <select class="form-control col-1" name="productid" [(ngModel)]="productid">
    <option *ngFor="let product of products" value="{{product.pkproductid}}">{{product.productname}}</option>
  </select>
  <span class="col-1">Select Destination</span>
  <select class="form-control col-1" name="productid" [(ngModel)]="productid">
    <option *ngFor="let product of products" value="{{product.pkproductid}}">{{product.productname}}</option>
  </select>
</div>-->
