.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.action-span {
  position: relative;
  top: -2px;
}

.purple-bg {
  background-color: #7e40f2;
  color: #fff;
}
