<div class="container-fluid" *ngIf="purchaseOrder.length">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem">
    <div>
      <button
        *ngIf="purchaseOrder[0].transactionstatusId === 1"
        class="btn btn-sm btn-outline-client"
        [routerLink]="['/purchaseOrder/update/' + purchaseOrder[0].invoiceNumber]"
      >
        Update
      </button>
      <button
        *ngIf="purchaseOrder[0].transactionstatusId === 1"
        class="btn btn-sm btn-outline-client"
        (click)="onApprovePurchaseOrder(purchaseOrder[0].id)"
      >
        Approve
      </button>
      <button
        *ngIf="purchaseOrder[0].transactionstatusId === 1"
        class="btn btn-sm btn-outline-client"
        (click)="onRejectPurchaseOrder(purchaseOrder[0].id)"
      >
        Reject
      </button>
      <button
        *ngIf="purchaseOrder[0].transactionstatusId === 2 && purchaseOrder[0].doctypeId !== 6"
        class="btn btn-sm btn-outline-client"
        (click)="convertPurchaseOrderToGrn(purchaseOrder[0].id)"
      >
        Convert
      </button>
      <button class="btn btn-sm btn-outline-client" [routerLink]="['/purchaseOrder/create']">
        Email Supplier
      </button>
    </div>
  </app-block-header>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <app-loader [isLoading]="loader"></app-loader>

        <div class="body table-responsive">
          <table mat-table [dataSource]="orderDataSource" class="mat-elevation-z0 col-lg-12">
            <!-- Name Column -->
            <ng-container matColumnDef="invoiceNumber">
              <th mat-header-cell *matHeaderCellDef>Invoice Number</th>
              <td mat-cell *matCellDef="let element">{{ element.invoiceNumber }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="supplier">
              <th mat-header-cell *matHeaderCellDef>Supplier</th>
              <td mat-cell *matCellDef="let element">{{ element.supplier }}</td>
            </ng-container>

            <!-- Wholesale Cost Column -->
            <ng-container matColumnDef="businessLocation">
              <th mat-header-cell *matHeaderCellDef>Business Location</th>
              <td mat-cell *matCellDef="let element">{{ element.businessLocation }}</td>
            </ng-container>

            <!-- Retail Cost Column -->
            <ng-container matColumnDef="warehouse">
              <th mat-header-cell *matHeaderCellDef>Warehouse</th>
              <td mat-cell *matCellDef="let element">{{ element.warehouse }}</td>
            </ng-container>

            <!-- Carton Quantity Column -->
            <ng-container matColumnDef="dueDate">
              <th mat-header-cell *matHeaderCellDef>Due Date</th>
              <td mat-cell *matCellDef="let element">{{ element.dueDate }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedOrderColumns"></tr>
          </table>
        </div>

        <div class="header d-flex justify-content-between align-items-center pb-0">
          <h2>Order Items</h2>
        </div>

        <div class="body table-responsive">
          <mat-form-field class="col-lg-12" appearance="outline">
            <mat-label>Search Order Items</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input #searchInput matInput (keyup)="applyFilter($event.target.value)" placeholder="Type keyword here" />
          </mat-form-field>
          <table mat-table [dataSource]="orderItemsDataSource" class="mat-elevation-z0 col-lg-12">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="pack">
              <th mat-header-cell *matHeaderCellDef>Unit per Pack</th>
              <td mat-cell *matCellDef="let element">{{ element.pack }}</td>
            </ng-container>

            <!-- Wholesale Cost Column -->
            <ng-container matColumnDef="wholesaleCost">
              <th mat-header-cell *matHeaderCellDef>Wholesale Cost</th>
              <td mat-cell *matCellDef="let element">{{ element.wholesaleCost }}</td>
            </ng-container>

            <!-- Retail Cost Column -->
            <ng-container matColumnDef="retailCost">
              <th mat-header-cell *matHeaderCellDef>Retail Cost</th>
              <td mat-cell *matCellDef="let element">{{ element.retailCost }}</td>
            </ng-container>

            <!-- Carton Quantity Column -->
            <ng-container matColumnDef="ctnQuantity">
              <th mat-header-cell *matHeaderCellDef>Quantity Ordered (CTN)</th>
              <td mat-cell *matCellDef="let element">{{ element.ctnQuantity }}</td>
            </ng-container>

            <!-- Unit Quantity Column -->
            <ng-container matColumnDef="unitQuantity">
              <th mat-header-cell *matHeaderCellDef>Quantity Ordered (UNIT)</th>
              <td mat-cell *matCellDef="let element">{{ element.ctnQuantity * element.pack }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedItemsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedItemsColumns"></tr>
          </table>

          <mat-paginator
            [length]="orderItemsDataSource.data.length"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15, 20, orderItemsDataSource.data.length]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
