<div class="container-fluid">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem"></app-block-header>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header d-flex justify-content-between align-items-center pb-0">
          <h2>Add Category</h2>
        </div>

        <div class="body">
          <form class="row" [formGroup]="categoryForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group col-lg-8">
              <label for="name" class="control-label">Name</label>
              <input
                type="text"
                class="form-control mb-0"
                id="name"
                placeholder="Eg. Electronics"
                formControlName="name"
                [ngClass]="{
                  'parsley-error':
                    !categoryForm.controls.name.valid &&
                    (categoryForm.controls.name.touched || categoryForm.controls.name.dirty)
                }"
              />
              <ul
                class="parsley-errors-list filled"
                *ngIf="
                  !categoryForm.controls.name.valid &&
                  (categoryForm.controls.name.touched || categoryForm.controls.name.dirty)
                "
              >
                <li class="parsley-required" *ngIf="categoryForm.controls.name.hasError('required')">
                  This value is required.
                </li>
              </ul>
            </div>

            <div class="form-group col-lg-4 pt-4 mt-1">
              <button
                type="submit"
                class="btn btn-client btn-round"
                [disabled]="!categoryForm.valid"
                *ngIf="!formLoading"
              >
                {{ this.mode }}
              </button>
              <button
                type="button"
                class="btn btn-outline-client btn-round float-right"
                (click)="resetForm()"
                *ngIf="mode === 'Update'"
              >
                Cancel
              </button>

              <button class="btn btn-client btn-round" [disabled]="true" *ngIf="formLoading">
                <i class="fa fa-spinner fa-spin" style="margin-right: 5px"></i>
                please wait
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <app-loader [isLoading]="loader"></app-loader>
        <div class="header d-flex justify-content-between align-items-center pb-0">
          <h2>All Category</h2>
        </div>

        <div class="body table-responsive">
          <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>#</th>
                <th>NAME</th>
                <th>Subcategory</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ category.name }}</td>
                <td>
                  <button class="btn btn-sm btn-outline-client" (click)="onViewRow(category, subcategoryModal, 'View')">
                    ({{ category.subcategory.length }}) Subcategory
                  </button>
                  <button class="btn btn-sm btn-client" (click)="onViewRow(category, subcategoryModal, 'Create')">
                    Add Subcategory
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-link btn-clear px-2" (click)="onEdit(category, 'edith')">
                    <i class="icon-software-pencil text-blue mr-1"></i>
                  </button>
                  <button class="btn btn-sm btn-link btn-clear px-2" (click)="onDelete(category, doDelete)">
                    <i class="icon-basic-trashcan text-danger"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #subcategoryModal let-c="close" let-d="dismiss">
  <div class="container">
    <div class="row clearfix" *ngIf="mode !== 'View'">
      <div class="col-lg-12">
        <div class="card">
          <div class="header d-flex justify-content-between align-items-center pb-0">
            <h2>{{ mode }} {{ selectedRow.name }} Subcategory</h2>
          </div>

          <div class="body">
            <form class="row" [formGroup]="subcategoryForm" novalidate (ngSubmit)="onSubmitSubcategory()">
              <div class="form-group col-lg-8">
                <label for="name" class="control-label">Name</label>
                <input
                  type="text"
                  class="form-control mb-0"
                  id="name"
                  placeholder="Eg. Electronics"
                  formControlName="name"
                  [ngClass]="{
                    'parsley-error':
                      !subcategoryForm.controls.name.valid &&
                      (subcategoryForm.controls.name.touched || subcategoryForm.controls.name.dirty)
                  }"
                />
                <ul
                  class="parsley-errors-list filled"
                  *ngIf="
                    !subcategoryForm.controls.name.valid &&
                    (subcategoryForm.controls.name.touched || subcategoryForm.controls.name.dirty)
                  "
                >
                  <li class="parsley-required" *ngIf="subcategoryForm.controls.name.hasError('required')">
                    This value is required.
                  </li>
                </ul>
              </div>

              <div class="form-group col-lg-4 pt-4 mt-1">
                <button
                  type="submit"
                  class="btn btn-client btn-round"
                  [disabled]="!subcategoryForm.valid"
                  *ngIf="!formLoading"
                >
                  {{ this.mode }}
                </button>
                <button
                  type="button"
                  class="btn btn-outline-client btn-round float-right"
                  (click)="resetForm()"
                  *ngIf="mode === 'Update'"
                >
                  Cancel
                </button>

                <button class="btn btn-client btn-round" [disabled]="true" *ngIf="formLoading">
                  <i class="fa fa-spinner fa-spin" style="margin-right: 5px"></i>
                  please wait
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <app-loader [isLoading]="loader"></app-loader>
          <div class="header d-flex justify-content-between align-items-center pb-0">
            <h2>All {{ selectedRow.name }} Subcategory</h2>
          </div>

          <div class="body table-responsive">
            <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>#</th>
                  <th>NAME</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of selectedRow.subcategory; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ category.name }}</td>
                  <td>
                    <button class="btn btn-sm btn-link btn-clear px-2" (click)="onEditSubcategory(category, 'edith')">
                      <i class="icon-software-pencil text-blue mr-1"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-link btn-clear px-2"
                      (click)="onDelete(category, doDeleteSubcategory)"
                    >
                      <i class="icon-basic-trashcan text-danger"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="search-close" aria-label="Close search form" (click)="d('Cross click')">
    <i class="fi flaticon-close"></i>
  </button>
</ng-template>

<ng-template #doDelete let-c="close" let-d="dismiss">
  <app-delete-modal [selectedRowData]="selectedRow.name" (onDelete)="onDoDelete()" [loader]="formLoading">
  </app-delete-modal>
</ng-template>

<ng-template #doDeleteSubcategory let-c="close" let-d="dismiss">
  <app-delete-modal
    [selectedRowData]="selectedSubcategory.name"
    (onDelete)="onDoDeleteSubcategory()"
    [loader]="formLoading"
  >
  </app-delete-modal>
</ng-template>
