<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
  <div class="sidebar-scroll">
    <div class="logo-account">
      eCorvids
    </div>
    <!-- Tab panes -->
    <div class="tab-content p-l-0 p-r-0">
      <div class="tab-pane" id="menu" [ngClass]="{ active: navTab == 'menu' || !navTab }">
        <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'admin' }"
            >
              <a class="" (click)="activeInactiveMenu('admin')" [routerLink]="['/']"
                ><i class="icon-home"></i> <span>Dashboard</span></a
              >
            </li>

            <!-- Inventory -->
            <li class="nav-title">Inventory</li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'category' }"
            >
              <a class="" (click)="activeInactiveMenu('category')" [routerLink]="['/', 'category']"
                ><i class="icon-docs"></i> <span>Category</span></a
              >
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'product' }"
            >
              <a class="" (click)="activeInactiveMenu('product')" [routerLink]="['/', 'product', 'view']"
                ><i
                  class="icon-bag
              "
                ></i
                ><span>Product</span></a
              >
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'supplier' }"
            >
              <a class="" (click)="activeInactiveMenu('supplier')" [routerLink]="['/', 'supplier', 'view']"
                ><i
                  class="icon-user-following
              "
                ></i
                ><span>Supplier</span></a
              >
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'purchaseOrder' }"
            >
              <a class="" (click)="activeInactiveMenu('purchaseOrder')" [routerLink]="['/', 'purchaseOrder', 'view']"
                ><i class="icon fas fa-clipboard-list"></i> <span>Purchase Order</span></a
              >
            </li>

            <li class="nav-title">Admin</li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'customer' }"
            >
              <a class="" (click)="activeInactiveMenu('customer')" [routerLink]="['/', 'customer', 'view']"
                ><i class="icon icon-user"></i> <span>Customer</span></a
              >
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'admin-users' }"
            >
              <a class="" (click)="activeInactiveMenu('admin-users')" [routerLink]="['/', 'admin-users', 'view']"
                ><i class="icon icon-users"></i> <span>User</span></a
              >
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'store-setting' }"
            >
              <a class="has-arrow" (click)="activeInactiveMenu('store-setting')"
                ><i class="icon-settings"></i> <span>Store Setting</span></a
              >
              <ul *ngIf="currentActiveMenu == 'store-setting'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/settings/business-location']">Business Location</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/settings/view']">tags</a>
                </li>
              </ul>
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'reports' }"
            >
              <a class="" (click)="activeInactiveMenu('reports')" [routerLink]="['/reports']"
                ><i class="icon-pie-chart"></i> <span>Reports</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
