<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
  <div class="sidebar-scroll">
    <div class="logo-account">
      eCorvids
    </div>
    <!-- Tab panes -->
    <div class="tab-content p-l-0 p-r-0">
      <div class="tab-pane" id="menu" [ngClass]="{ active: navTab == 'menu' || !navTab }">
        <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'admin' }"
            >
              <a class="" (click)="activeInactiveMenu('admin')" [routerLink]="['/']"
                ><i class="icon-home"></i> <span>Dashboard</span></a
              >
            </li>

            <!-- Inventory -->
            <li class="nav-title">Inventory</li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'category' }"
            >
              <a class="" (click)="activeInactiveMenu('category')" [routerLink]="['/', 'category']"
                ><i class="icon-docs"></i> <span>Category</span></a
              >
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'product' }"
            >
              <a class="has-arrow" (click)="activeInactiveMenu('product')"
                ><i
                  class="icon-bag
                "
                ></i>
                <span>Product</span></a
              >
              <ul *ngIf="currentActiveMenu == 'product'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/product/create']">Add Product</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/product/view']">View Products</a>
                </li>
              </ul>
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'supplier' }"
            >
              <a class="has-arrow" (click)="activeInactiveMenu('supplier')"
                ><i class="icon-user-following"></i> <span>Supplier</span></a
              >
              <ul *ngIf="currentActiveMenu == 'supplier'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/', 'supplier', 'create']">Add Supplier</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/', 'supplier', 'view']">View Suppliers</a>
                </li>
              </ul>
            </li>

            <li class="nav-title">Admin</li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'customer' }"
            >
              <a class="has-arrow" (click)="activeInactiveMenu('customer')"
                ><i class="icon-user"></i> <span>Customer</span></a
              >
              <ul *ngIf="currentActiveMenu == 'customer'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/customer/create']">Add Customer</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/customer/view']">View Customers</a>
                </li>
              </ul>
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'store-setting' }"
            >
              <a class="has-arrow" (click)="activeInactiveMenu('store-setting')"
                ><i class="icon-settings"></i> <span>Store Setting</span></a
              >
              <ul *ngIf="currentActiveMenu == 'store-setting'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/settings/business-location']">Business Location</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/settings/view']">tags</a>
                </li>
              </ul>
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'admin-users' }"
            >
              <a class="has-arrow" (click)="activeInactiveMenu('admin-users')"
                ><i class="icon-users"></i> <span> User</span></a
              >
              <ul *ngIf="currentActiveMenu == 'admin-users'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/admin-users/add']">Add User</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/admin-users/view']">View Users</a>
                </li>
              </ul>
            </li>

            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'reports' }"
            >
              <a class="" (click)="activeInactiveMenu('reports')" [routerLink]="['/reports']"
                ><i class="icon-pie-chart"></i> <span>Reports</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
