.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.product {
  .product-title {
    font-size: 1.25rem;
  }
}

.pointer {
  cursor: pointer;
}

.product-subtitle {
  font-size: 1rem;
}

.mat-radio-button ~ .mat-radio-button,
.mat-radio-group {
  margin-left: 16px;
}

.mat-dialog-container {
  display: inline-block;
}
