<div class="container-fluid">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem"></app-block-header>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <app-loader [isLoading]="loader"></app-loader>
        <div class="header d-flex justify-content-between align-items-center pb-0">
          <h2>All Supplier</h2>
          <div class="">
            <i class="icon datatable-icon-add"></i>
            <span style="text-decoration: underline; cursor: pointer" [routerLink]="['/supplier/create']"
              >Add New Supplier</span
            >
          </div>
        </div>

        <div class="body table-responsive">
          <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Full NAME</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let supplier of suppliers">
                <td>{{ supplier.company }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ supplier.mobilenumber }}</td>
                <td scope="row">{{ supplier.address }}</td>
                <td>
                  <button class="btn btn-sm btn-link btn-clear px-2" (click)="onEdit(supplier, 'edith')">
                    <i class="icon-software-pencil text-blue mr-1"></i>
                  </button>
                  <button class="btn btn-sm btn-link btn-clear px-2" (click)="onDelete(supplier, doDelete)">
                    <i class="icon-basic-trashcan text-danger"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #doDelete let-c="close" let-d="dismiss">
  <app-delete-modal [selectedRowData]="selectedRow.firstname" (onDelete)="onDoDelete()" [loader]="formLoading">
  </app-delete-modal>
</ng-template>
