<div class="container-fluid">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem">
    <div>
      <a class="btn btn-sm btn-outline-client" [routerLink]="['/customer/view']">
        <i class="icon fas fa-eye mr-1"></i>
        View Customer
      </a>
    </div>
  </app-block-header>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header d-flex justify-content-between align-items-center pb-0">
          <h2>New Customer</h2>
          <div class="" [routerLink]="['/customer/view']">
            <i class="icon datatable-icon-add"></i>
            <span style="text-decoration: underline; cursor: pointer">View all</span>
          </div>
        </div>

        <div class="body">
          <form class="row" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div class="col-lg-4">
              <app-input
                [required]="true"
                label="Full Name"
                name="Full Name"
                id="fullname"
                placeholder="Eg. Anthony Ofor"
                [control]="customerForm.get('fullname')"
              ></app-input>
            </div>

            <div class="col-lg-4">
              <app-input
                [required]="true"
                label="Phone Number"
                name="Mobile Number"
                id="mobilenumber"
                placeholder="Eg. 09039928432"
                [control]="customerForm.get('mobilenumber')"
              ></app-input>
            </div>

            <div class="form-group col-lg-4">
              <app-input
                type="email"
                [required]="true"
                label="Email"
                name="Email"
                id="email"
                placeholder="Eg. infor@ecorvids.com"
                [control]="customerForm.get('email')"
              ></app-input>
            </div>

            <div class="form-contrl col-lg-3">
              <label for="name" class="control-label">Gender</label>
              <select
                type="text"
                class="form-control mb-0"
                id="gender"
                placeholder="Eg. infor@ecorvids.com"
                formControlName="gender"
                [ngClass]="{
                  'parsley-error':
                    !customerForm.controls.gender.valid &&
                    (customerForm.controls.gender.touched || customerForm.controls.gender.dirty),
                  'parsley-success':
                    customerForm.controls.gender.valid &&
                    (customerForm.controls.gender.touched || customerForm.controls.gender.dirty)
                }"
              >
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
              <ul
                class="parsley-errors-list filled"
                *ngIf="
                  !customerForm.controls.gender.valid &&
                  (customerForm.controls.gender.touched || customerForm.controls.gender.dirty)
                "
              >
                <li class="parsley-required" *ngIf="customerForm.controls.gender.hasError('required')">
                  Gender is required.
                </li>
              </ul>
            </div>

            <div class="col-lg-3">
              <app-input
                type="number"
                [required]="true"
                label="Age"
                name="Age"
                id="age"
                placeholder="Eg. 29"
                [control]="customerForm.get('age')"
                validator="number"
              ></app-input>
            </div>

            <div class="form-contrl col-lg-3">
              <label for="name" class="control-label">Birth Month</label>
              <select
                type="text"
                class="form-control mb-0"
                id="birthmonth"
                placeholder="Eg. infor@ecorvids.com"
                formControlName="birthmonth"
                [ngClass]="{
                  'parsley-error':
                    !customerForm.controls.birthmonth.valid &&
                    (customerForm.controls.birthmonth.touched || customerForm.controls.birthmonth.dirty),
                  'parsley-success':
                    customerForm.controls.birthmonth.valid &&
                    (customerForm.controls.birthmonth.touched || customerForm.controls.birthmonth.dirty)
                }"
              >
                <option value="" selected disabled>select month</option>
                <option [value]="month" *ngFor="let month of months">{{ month }}</option>
              </select>
              <app-input-error name="Birth Month" [control]="customerForm.get('birthmonth')"></app-input-error>
            </div>

            <div class="col-lg-3">
              <app-input
                type="number"
                [required]="true"
                label="Birthday"
                name="birthday"
                id="birthday"
                placeholder="Eg. 2"
                [control]="customerForm.get('birthday')"
                validator="number"
              ></app-input>
            </div>

            <div class="form-group col-lg-12 pt-4 mt-1">
              <button
                type="button"
                class="btn btn-outline-client btn-round float-left"
                (click)="resetForm()"
                *ngIf="mode === 'Update'"
              >
                Cancel
              </button>

              <div class="float-right">
                <button
                  type="submit"
                  class="btn btn-client btn-round"
                  [disabled]="!customerForm.valid"
                  *ngIf="!formLoading"
                >
                  {{ this.mode }}
                </button>
                <button class="btn btn-client btn-round" [disabled]="true" *ngIf="formLoading">
                  <i class="fa fa-spinner fa-spin" style="margin-right: 5px"></i>
                  please wait
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
