<div class="container-fluid">
  <app-block-header [title]="title" [breadcrumbItem]="breadcrumbItem"></app-block-header>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <app-loader [isLoading]="loader"></app-loader>
        <div class="header d-flex justify-content-between align-items-center pb-0">
          <h2>All Products</h2>
          <div class="">
            <i class="icon datatable-icon-add"></i>
            <span style="text-decoration: underline; cursor: pointer" [routerLink]="['/product/create']"
              >Add New Product</span
            >
          </div>
        </div>

        <div class="body table-responsive">
          <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>#</th>
                <th>NAME</th>
                <th>Item Code</th>
                <th>Packing Type</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.itemcode }}</td>
                <td>{{ product.packingtype }}</td>
                <td>
                  <button class="btn btn-sm btn-link btn-clear px-2" (click)="onEdit(product, 'edit')">
                    <i class="icon-software-pencil text-blue mr-1"></i>
                  </button>
                  <button class="btn btn-sm btn-link btn-clear px-2" (click)="onDelete(products, doDelete)">
                    <i class="icon-basic-trashcan text-danger"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
