<div class="block-header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-2">
        <div class="body py-3 d-flex justify-content-between align-items-center">
          <div>
            <h2>
              <a class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
                <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
              </a>
              {{ title }}
            </h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/admin']"><i class="icon-home"></i></a>
              </li>
              <li *ngFor="let b of breadcrumbItem" class="breadcrumb-item {{ b.cssClass }}">
                {{ b.title }}
              </li>
            </ul>
          </div>
          <ng-content> </ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
