@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  border-bottom: none;
  background: #fff !important;
}

.navbar-fixed-top {
  top: 0px;
  width: calc(100% - 250px);
  float: right;
  margin-left: auto;
  right: 0;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-brand {
  img {
    width: 100%;
  }

  a {
    display: block;
    width: 30px;
  }
}

.nav.navbar-nav {
  color: #43425d;
}

.navbar-nav .icon-menu i {
  font-size: 18px;
  color: #43425d;
}

.navbar-avatar {
  width: 30px;
}
