<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-offcanvas" (click)="toggleSideMenu()">
        <i class="lnr lnr-menu fa fa-bars"></i>
      </button>
    </div>

    <div class="navbar-brand d-none">
      <a [routerLink]="['/admin']"><img src="assets/images/yego-logo.png" alt="Logo" class="img-responsive logo"/></a>
    </div>

    <div class="navbar-right ml-auto">
      <div id="navbar-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown" ngbDropdown>
            <a class="dropdown-toggle icon-menu" ngbDropdownToggle>
              <img src="assets/images/avatar.jpg" class="navbar-avatar rounded-circle" alt="user" title="user" />
              <strong class="ml-1">Mgbako</strong>
            </a>
            <ul class="dropdown-menu user-menu menu-icon" ngbDropdownMenu style="background: #43425D">
              <li class="menu-heading">ACCOUNT SETTINGS</li>
              <li>
                <a href="javascript:void(0);"><i class="icon-user"></i> <span>Profile</span></a>
              </li>

              <li class="menu-heading"></li>
              <li>
                <a href="javascript:void(0);" (click)="logout()"><i class="icon-login"></i> <span>Logout</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a class="icon-menu" (click)="logout()"><i class="icon-login"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
