.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.purple-bg {
  background-color: #7e40f2;
  color: #fff;
}

.black-bg {
  background-color: rgba(36, 31, 31, 0.555);
  color: #fff;
}

.btn-div button {
  border: none;
  padding: 10px;
  elevation: 2;
  border-radius: 5px;
}
