<div class="auth-main d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="card shadow-lg rounded p-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-8">
                <div class="body text-center pt-5 mt-5">
                  <h2 class="card-title mb-5">
                    We can help you <br />
                    recover your password.
                  </h2>
                  <form
                    class="form-auth-small"
                    [formGroup]="loginForm"
                    novalidate
                    (ngSubmit)="login()"
                    class="col-lg-8 m-auto"
                  >
                    <div class="form-group">
                      <label for="signin-email" class="control-label sr-only">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="signin-email"
                        placeholder="Email"
                        formControlName="email"
                      />
                    </div>

                    <button
                      type="submit"
                      class="btn btn-client btn-lg btn-auth mt-4 btn-round"
                      [disabled]="!loginForm.valid"
                      *ngIf="!isLoading"
                    >
                      Send
                    </button>

                    <button class="btn btn-client btn-lg btn-auth mt-4 btn-round" [disabled]="true" *ngIf="isLoading">
                      <i class="fa fa-spinner fa-spin" style="margin-right: 5px"></i>
                      Sending request, please wait
                    </button>
                  </form>
                </div>
              </div>
              <div class="col-lg-4 d-flex align-items-center flex-column text-white right pt-5">
                <h2 class="auth-title my-4">One of us?</h2>
                <p class="mb-0">If you already have an account</p>
                <p>Just login, we've missed you!</p>

                <button type="submit" class="btn btn-client btn-lg btn-auth mt-4 btn-round" [routerLink]="['/login']">
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
