<div class="auth-main d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card shadow-lg rounded">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center">
                <div class="img-wraaper">
                  <img src="assets/svgs/login-img2.svg" alt="" class="img-fluid" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="body">
                  <form class="form-auth-small" (ngSubmit)="onSubmit()" [formGroup]="regForm" novalidate>
                    <div>
                      <div class="form-group">
                        <label for="company-name" class="control-label sr-only">Company Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="company-name"
                          formControlName="comapanyName"
                          placeholder="Company Name"
                        />
                      </div>
                      <div class="form-group">
                        <label for="company-address" class="control-label sr-only">Address</label>
                        <input
                          type="text"
                          class="form-control"
                          id="company-address"
                          formControlName="address"
                          placeholder="Address"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="form-group">
                        <label for="signin-email" class="control-label sr-only">Firstname</label>
                        <input
                          type="email"
                          class="form-control"
                          id="signin-firstname"
                          formControlName="firstName"
                          placeholder="First Name"
                        />
                      </div>
                      <div class="form-group">
                        <label for="signin-email" class="control-label sr-only">Lastname</label>
                        <input
                          type="email"
                          class="form-control"
                          id="signin-fullname"
                          formControlName="lastName"
                          placeholder="Last Name"
                        />
                      </div>
                      <div class="form-group">
                        <label for="signin-email" class="control-label sr-only">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          id="signin-email"
                          formControlName="email"
                          placeholder="Email"
                        />
                      </div>
                      <div class="form-group">
                        <label for="signin-email" class="control-label sr-only">Phone Number</label>
                        <input
                          type="tel"
                          class="form-control"
                          id="signin-phone-number"
                          formControlName="phonenumber"
                          placeholder="Phone Number"
                        />
                      </div>
                      <div class="form-group">
                        <label for="signin-password" class="control-label sr-only">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="signin-password"
                          formControlName="password"
                          placeholder="Password"
                        />
                      </div>
                      <div class="form-group">
                        <label for="signin-password" class="control-label sr-only">Confirm Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="confirm-signin-password"
                          formControlName="confirmPassword"
                          placeholder="Confirm Password"
                        />
                      </div>
                    </div>

                    <button type="submit" class="btn btn-client btn-lg btn-block" [disabled]="">
                      Register
                    </button>
                    <button class="btn btn-client btn-lg btn-block" [disabled]="true" *ngIf="isLoading">
                      <i class="fa fa-spinner fa-spin" style="margin-right: 5px"></i>
                      Registering you account, please wait
                    </button>
                    <div class="bottom">
                      <span>have an account? <a [routerLink]="['/login']">Login</a></span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
